.messageToaster {
	position: fixed;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	padding: 20px;
	border-radius: 15px;
	animation: moveRight 3s ease-out 5s forwards;
}

.successMessageToaster {
	background-color: rgb(25, 157, 25);
}

.errorMessageToaster {
	background-color: rgb(210, 10, 10);
}

@keyframes moveRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(200%);
	}
}

@media screen and (max-width: 500px) {
	.messageToaster {
		width: calc(100% - 20px);
	}
}
