.features {
	background-color: #f9f9f9;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(25%, 350px), 1fr));
}

.features-block {
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features-block > h2 {
	display: block;
	margin-bottom: 30px;
}

.feature {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 9px 18px 9px 40px;
	height: 100%;
}

.feature h4 {
	font-weight: 700;
	margin-bottom: 5px;
}

.feature p {
	font-weight: 300;
	color: #3d3d3d;
}

:is(.support, .delivery, .protect, .instruction)::before {
	content: "";
	position: absolute;
	top: 0px;
	left: -50px;
	display: block;
	width: 40px;
	height: 40px;
}

.support::before {
	background: url("/support.svg");
}

.delivery::before {
	background: url("/delivery.svg");
}

.protect::before {
	background: url("/protect.svg");
}

.instruction::before {
	background: url("/instruction.svg");
}
